* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: red;
}
#connect {
    color: gold;
    font-size: 30px;
}
h1, h2 {
    color: gold;
}

.logo {
    display: inline-block;
    padding-left: 10px;
    margin: 10px;
    align-items: center;
    border-radius: 2px;
    border: none;
    width: 100px;
}

#products-btn {
    text-align: center;
    font-size: 30;
    color: black;
    display: inline-block;
    
}

#contact-me-btn {
    text-align: center;
    font-size: 25;
    color: black;
    display: inline-block;

}

#cart-btn {
    text-align: center;
    border-radius: 2px;
    width: 20px;
    display: inline-block;
}

#sign-in-btn {
    text-align: center;
    color: blue;
    display: inline-block;
    text-align: right;
    background-position: 100%;
    padding-right: 10px;

}

header {
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav ul {
    list-style: none;
    /* display: inline-block; */
    gap: 20px;
    text-align: right;
    background-position: 100%;
    padding-right: 10px;
}

.nav-links li {
    display: inline;
    text-decoration: none;
}

.nav-links{
    align-self: flex-end;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    text-align: center;
}

.hero img{
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
}


.hero .buy-now-button {
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero .buy-now-button:hover {
    background-color: lightblue;
}

.hero .label {
    position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}
.hero .tagline {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px; 
}

#mainContent

.theme-btn {
    font-size: 20px;
    cursor: pointer;
}
/* 
.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px;
} */

#leftBar {
    position: relative;
    display: grid;
    margin: 0px;
    width: 300px;
    top: -500px;
    bottom: 0px;
    padding: 10px;
    /* right: 400px; */
    align-self: flex-start;
    

}
.duck-placeholder {
    float: left;
    
}

#rightBar {
    right: 0;
}

img {
    max-width: 100%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.modal-content {
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}

/*Dark/light mode*/
:root {
    --bg-color: white;
    --text-color: white;
}

footer {
    background-color: #555;
    padding: 50px;
    text-align: center;

}

#insta, #twitter{
    list-style: none;
    text-align: center;
    color: white;
    
}

#insta-link, #twitter-link {
    text-decoration: none;
    color: white;
}
#footer-tag {
    text-align: left;
    text-indent: 0px;
    color: white;
}
#product {
    position: relative;
    display: grid;
    margin: 0px;
    width: 300px;
    top: -500px;
    bottom: 0px;
    padding: 10px;
    /* right: 400px; */
   
}
.product-info {
    height: 500px;
    width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #F9F9F9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    /* Position it fixed on the right side */
    position: fixed;
    top: 50%;
    right: -250px; /* Initially hidden off-screen */
    transform: translateY(-50%);
    /* Add transition for smooth slide-in effect */
    transition: right 0.3s ease;
    /* Initially hidden when not hovered over */
    opacity: 0;
   }
   /* Show the aside when hovered */
   .product-info:hover {
    right: 20px; /* Moves it to be visible on the screen */
    opacity: 1; /* Fully visible */
   }
   /* Price styling */
   .product-price p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    padding: 20px;
   }
   /* Color selection section */
   .product-colors {
    margin-bottom: 20px;
   }
   .product-colors p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
   }
   .product-colors label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
   }
   /* Input radio buttons for color selection */
   .product-colors input[type="radio"] {
    margin-right: 10px;
   }
   /* Product description styling */
   .product-description p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
   }
   .add-to-cart {
    text-align: center;
  }
  #add-to-cart-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
  }
  #add-to-cart-button:hover {
    background-color: #0056B3;
  }
  .cart-container {
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 152px;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
    box-shadow: -2px, 0, 5px, #0000;
    transition: transform 0.3s ease;
    border: 2px, solid, #444;
}
.cart-container.hide {
    transform: translateX(100%); /* Slide the cart out of view */
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.cart-header h2 {
    font-size: 24px;
    margin: 0;
}
.close-cart {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
cart-items {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
    padding-right: 10px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}
cart-item-info {
    flex: 1;
    margin-left: 15px;
}
.cart-item-price {
    font-size: 18px;
    font-weight: bold;
}
.cart-footer {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#checkout-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cart-subtotal {
    font-size: 18px;
    font-weight: bold;
}
.remove-from-cart {
    background-color: red;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
.remove-from-cart:hover {
    background-color: gold;
}
.top-header {
    background-color: #555;
    padding: 10px 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1002;
    font-size: 14px;
}
.top-header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.right-section {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.newsletter-offer {
    margin-left: 10px;
}
.newsletter-link {
    color: white;
    text-decoration: underline;
}
.newsletter-link:hover {
    text-decoration: none;
}
.sign-in-link {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.sign-in-link:hover {
    text-decoration: underline;
}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(14px);
}
header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.shopping-cart-container {
    position: absolute;
    right: 20px;
    top: 62%;
    transform: translateY(-50%);
}
.shopping-cart-icon {
    height: 30px;
    width: auto;
}
#outer {
    height: 20000px;
}
#animation-container {
    position: fixed;
    width: 100%;
    height: 200vh;
    background: aliceblue;
}
#fake-image {
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    flex-grow: 1;
    margin-top: 40px;
}
.main-nav span {
    display: inline-block;
    align-items: center;
}
.main-nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.main-nav a:hover {
    background-color: #444;
    color: #FFD700;
}
.logo-container {
    flex-shrink: 0;
}
.logo {
    height: 40px;
    width: auto;
}
.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-content, .sub-dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}
.product-category:hover .sub-dropdown {
    display: block;
    top: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
}
.dropdown-content span, .sub-dropdown span {
    width: 150px;
}
.dropdown-content a:hover, .sub-dropdown a:hover {
    background-color: #555;
    color: #FFD700;
}
.login-container {
    margin-right: 30px;
}
#duck-head{
    height: 60px;
    width: 60px;
}